################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ToDo/FileContentIndex
/ToDo/obj/Debug/net8.0/ToDo.AssemblyInfo.cs
/ToDo/obj/Debug/net8.0/ToDo.AssemblyInfoInputs.cache
/ToDo/obj/Debug/net8.0
