################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/todo/FileContentIndex
/.vs/todo
/ToDo/bin/Debug/net8.0
/ToDo/obj/Debug/net8.0
